h1{
    font-size: 3em;
    text-align:center;
}
.nav-bar{
    text-align: end;
    font-size: large;
}
.header{
    margin: auto;

}
.form{
    max-width:500px;
    margin:auto;
}
.input-icons i {
    position: relative;
    
}


  
.input-field {
    height:auto;
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-bottom: 3px;
}
